{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <form class="ui form" method="post">
        {% if error %}
            <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                    There were some errors with your submission
                </div>
                <ul class="list">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </ul>
            </div>
            {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
        {% endif %}

        <h1>Login</h1>
        <div class="fields two">
            <div class="field">
                <label class="sr-only" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="field">
                <label class="sr-only" for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">
            </div>
        </div>
        <input
        type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="field">
            <div class="ui checkbox">
                <input name="_remember_me" type="checkbox">
                <label for="_remember_me">
                    Onthoud mij
                </label>
            </div>
        </div>
        <button class="ui button primary" type="submit">
            Login
        </button>
    </form>
{% endblock %}
