{% extends 'base.html.twig' %}

{% block title %}Registreer
{% endblock %}

{% block body %}
    <h1>Registreer</h1>

    {{ form_start(registrationForm,  {'attr': {'class': 'form ui error'} }) }}

    {% if not registrationForm.vars.valid %}
        {% set error = true %}
        <div class="ui message error">
            {{ form_errors(registrationForm) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.naam) }}
            {{ form_errors(registrationForm.voornaam) }}
            {{ form_errors(registrationForm.telefoon) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
    {% endif %}
    <div class="two fields">
        <div class="field ">
            {{ form_row(registrationForm.naam) }}
        </div>
        <div class="field ">
            {{ form_row(registrationForm.voornaam) }}
        </div>
    </div>
    <div class="two fields">
        <div class="field ">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="field ">

            {{ form_row(registrationForm.plainPassword, { 'label': 'Wachtwoord' }) }}
        </div>
    </div>
    <div class="field ">
        {{ form_row(registrationForm.telefoon) }}
    </div>

    <button class="ui button primary left floated">Registreer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
