{% extends 'base.html.twig' %}

{% block title %}Account van
    {{ user.voornaam }}
{% endblock %}

{% block body %}

    <h1 class="ui">Hello
        {{ user.voornaam }}
    </h1>
    {% if exemplaren is defined and exemplaren is not empty %}
        {% set titel = "Volgende producten heb je momenteel in je bezit"  %}
        {% include "exemplaar/table.html.twig" with {exemplaars :exemplaren, titel: titel } %}
    {% else %}
        <p>
            Je hebt geen films in je bezit
        </p>
    {% endif %}
{% endblock %}
