{% extends 'base.html.twig' %}

{% block title %}Lijst van gebruikers

{% endblock %}

{% block body %}
    <table class="ui celled striped table">
        <thead>
            <tr>
                {# <th class="">Id</th> #}
                <th>email</th>
                <th>Rechten</th>
                <th>Naam</th>
                <th>Telefoon</th>

            </tr>
        </thead>
        <tbody>
            {% for gebruiker in gebruikers %}
                <tr>
                    <td>
                        <a href="{{ path('gebruiker_show', {'id': gebruiker.id}) }}">
                            {{ gebruiker.email }}
                        </a>
                    </td>
                    <td>
                        {% for role in gebruiker.roles %}
                            {{ role}}
                        {% endfor %}
                    </td>
                    <td>
                        {{gebruiker.naam}}
                        {{gebruiker.voornaam}}
                    </td>
                    <td>{{gebruiker.telefoon}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Geen gebruikers gevonden</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
