<form method="post" action="{{ path('film_delete', {'id': film.id}) }}" onsubmit="return confirm('Ben je zeker dat je dit item wilt verwijderen?');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button class="ui button">Verwijder</button>
</form>
