{{ form_start(form,  {'attr': {'class': 'form ui error'} }) }}

{% if not form.vars.valid %}
    {% set error = true %}
    <div class="ui message error">
        {{ form_errors(form) }}
        {{ form_errors(form.titel) }}
        {{ form_errors(form.lidwoord) }}
        {{ form_errors(form.imdb_movie_id) }}
    </div>
{% endif %}

<div
    class="three fields">
    {# enkel titel kan een error geven #}
    <div class="field {% if error is defined  %} error {% endif %} ">
        {{ form_label(form.titel)}}
        {{ form_widget(form.titel, {'attr': {'placeholder': 'Godfather: Part II'}}) }}
    </div>
    <div class="field ">
        {{ form_label(form.lidwoord)}}
        {{ form_widget(form.lidwoord, {'attr': {'placeholder': 'The'}}) }}
    </div>
    <div class="field ">
        {{ form_label(form.imdb_movie_id)}}
        {{ form_widget(form.imdb_movie_id, {'attr': {'placeholder': 'tt0071562'}}) }}
    </div>
</div>

<button class="ui button primary left floated">
    {{ button_label|default('Save') }}
</button>


{{ form_end(form) }}
