{% extends 'base.html.twig' %}

{% block title %}Delete Film
{% endblock %}

{% block body %}
    <h1 class="title">Delete Film</h1>

    {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('film_index') }}">Terug naar filmoverzicht</a>

    {{ include('film/_delete_form.html.twig') }}
{% endblock %}
