{% extends 'base.html.twig' %}

{% block title %}Edit Film
{% endblock %}

{% block body %}
    <h1 class="title">Film aanpassen</h1>

    {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('film/_delete_form.html.twig') }}

    <a href="{{ path('film_index') }}">Terug naar filmoverzicht</a>
{% endblock %}
