{% extends 'base.html.twig' %}

{% block title %}
    Film index
{% endblock %}

{% block body %}
    <h1 class="ui dividing header">
        {% if query is defined %}
            Resultaten voor
            {{ query }}
        {% else %}
            Filmoverzicht
        {% endif %}
    </h1>

    <table class="ui celled striped table">
        <thead>
            <tr>

                {# <th>Id</th> #}
                <th>Titel</th>
                <th>Nummer(s)</th>
                <th>Aanwezig</th>
                <th>IMDb</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="collapsing two">Acties</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for value in filmsExemplaren %}
                <tr>
                    {# <td>{{ film.id }}</td> #}
                    <td>
                        <a href="{{ path('film_show', {'id': value.0.id}) }}">
                            {{ value.0.titel }}
                            {% if value.0.lidwoord is not empty  %}
                                ,
                                {{ value.0.lidwoord }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {% set totaal = 0 %}
                        {% if value.1 is not empty %}
                            {% for item in value.1 %}
                                <a href="{{ path('exemplaar_show', {'id': item.id}) }}">
                                    {% if item.aanwezig > 0 %}
                                        <strong>{{ item.nummer }}</strong>
                                        {% set totaal = totaal + 1 %}
                                    {% else %}
                                        {{ item.nummer }}
                                    {% endif %}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {{ totaal }}
                    </td>
                    <td>
                        <a href="https://www.imdb.com/title/{{ value.0.imdbMovieId }}" rel="noopener noreferrer" target="_blank">imdb</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('film_edit', {'id': value.0.id}) }}">Bewerk</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Geen films gevonden</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('film_new') }}">Nieuwe film</a>
    {% endif %}
{% endblock %}
