{% extends 'base.html.twig' %}

{% block title %}New Film
{% endblock %}

{% block body %}
    <h1 class="title">Nieuwe film toevoegen</h1>

    {{ include('film/_form.html.twig') }}
    <a class="clear" href="{{ path('film_index') }}">Terug naar filmoverzicht</a>
{% endblock %}
