{% extends 'base.html.twig' %}


{% block title %}
    {{film.titel}}
{% endblock %}

{% block body %}

    <div class="ui items">
        <div class="item">
            <div class="ui medium image rounded">
                {% if json.Poster is defined %}
                    <img src="{{json.Poster}}">
                {% else %}
                    <img src="https://via.placeholder.com/300x445">
                {% endif %}

            </div>
            <div class="middle content">
                <h1>
                    {{film.titel}}
                    {% if film.lidwoord is not empty  %}
                        ,
                        {{ film.lidwoord }}
                    {% endif %}
                    {% if json.Year is defined %}
                        <small>
                            ({{ json.Year}})
                        </small>
                    {% endif %}
                </h1>
                <div class="meta">
                    <span>Omschrijving</span>
                </div>
                <div class="description">
                    <p>
                        {% if json.Plot is defined %}
                            {{ json.Plot}}
                        {% else %}
                            Geen beschrijving
                        {% endif %}
                    </p>
                    <br>
                </div>
                <div class="meta">
                    <span>Onderscheiding(en)</span>
                </div>
                <div class="description">
                    <p>
                        {% if json.Awards is defined and json.Awards != 'N/A' %}
                            {{ json.Awards}}
                        {% else %}
                            Onbekend
                        {% endif %}
                    </p>
                </div>

                <div class="extra">
                    {% if json.Genre is defined %}
                        Genre:
                        {{ json.Genre}}
                    {% endif %}
                    {% if json.Genre is defined %}
                        |
                        <i class="hourglass half icon"></i>
                        {{ json.Runtime}}
                    {% endif %}
                    {% if json.imdbRating is defined %}
                        |
                        <i class="star icon"></i>
                        {{ json.imdbRating}}
                    {% endif %}
                </div>
                <div></br>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="left floated" href="{{ path('film_edit', {'id': film.id}) }}">
                        <button class="ui button">Bewerk</button>
                    </a>
                    {{ include('film/_delete_form.html.twig') }}
                {% endif %}
                <a href="{{ path('film_index') }}">Terug naar filmoverzicht</a>
            </div>
        </div>
    </div>
    {# {% if not exemplaar.vars.valid %} #}

    {% set titel = "Exemplaren van " ~ film.titel  %}
    {% include "exemplaar/table.html.twig" with {exemplaars :exemplaar, titel: titel } %}

</div>{% endblock %}
