/* Theme basic style */

html {
    position: relative;
    min-height: 100%;
    height: unset
}

code {
    background-color: #E0E0E0;
    padding: 0.25em 0.3em;
    font-family: 'Lato';
    font-weight: bold;
}

.ui.dividing.header,
.first {
    margin-top: 5em;
}

.ui.dividing.header:first-child {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

img+img {
    margin-top: 0.5em;
}

/* Shows content box (not negative margins) */
.grid {
    position: relative;
}

.grid:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #F0F0F0;
    content: '';
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    box-shadow: 0 0 0 1px #DDDDDD inset;
}

.ui.divided.grid:before,
.celled.grid:before {
    display: none;
}

.ui.aligned .column:after {
    display: none !important;
}

.grid .column:not(.row):not(.grid):after {
    background-color: rgba(86, 61, 124, 0.15);
    box-shadow: 0 0 0 1px rgba(86, 61, 124, 0.2) inset;
    content: "";
    display: block;
    min-height: 50px;
}

@media only screen and(max-width: 768px) {
    .stackable.grid:before {
        width: 100%;
        left: 0;
    }
}

/* end Theme basic style */

/* algemene css classes */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
    display: block
}

.pointer {
    cursor: pointer;
}

.mijn.left {
    float: left;
}

/* Table style */
td>* {
    padding-right: 0.5em;
}

td>a {
    display: inline;
}

.ui.table th.collapsing.three,
.ui.table td.collapsing.three {
    min-width: 14em;
}

.ui.table th.collapsing.two,
.ui.table td.collapsing.two {
    min-width: 9em;
}

[id^="delete_form"] {
    display: inline;
}

/* navbar */

body {
    background-color: #FFFFFF;

}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin: 7em 0;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0 0;
    padding: 5em 0;
}

input#form_query {
    width: initial;
}

/* end navbar */

/* footer */
.ui.footer.segment {
    padding: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}