{{form_start(form,{'attr': {'class': 'form ui error'}, 'method' : 'POST'})}}
{% if not form.vars.valid %}
    {% set error = true %}
    <div class="ui message error">
        {{ form_errors(form) }}
        {{ form_errors(form.query) }}
    </div>
{% endif %}
{# {{ form_label(form.query)}} #}
<div class="ui action input">
    {# {{ query }} #}
    {% if query is defined %}        
        {{ form_widget(form.query, {'attr': {'value': 'query'}}) }}
    {% else %}        
        {{ form_widget(form.query, {'attr': {'placeholder': 'Godfather: Part II'}}) }}
    {% endif %}

    {{ form_widget(form.search) }}
</div>
{{ form_end(form) }}
{# <i class="search link icon" href="/search/form[query]"></i> #}

{# <input placeholder="Search..." type="text"> #}
