{# {{ dump() }} #}
<h3>Registratie voltooid</h3>

Dag
{{ voornaam }},
<br>
<p>
    Je hebt je succesvol ingeschreven op
    <a href="{{ url('index') }}">MoeRent</a>.<br>
    {# example, assuming you have a route named "login" #}
    U kan zich
    <a href="{{ url('app_login') }}">hier</a>
    inloggen.

</p>

{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
