<!DOCTYPE html>
<html lang="nl-BE">

    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>

        {% include '/parts/navbar.html.twig' %}

        <div class="ui main container">
            {# {{ dump() }} #}
            {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ dump(app.user.voornaam) }}{% endif %} #}{% block body %}
        {% endblock %}
        </div>

        {% include '/parts/footer.html.twig' %}

            {% block javascripts %}<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

</html>
