{# {% extends 'base.html.twig' %} #}


{# {% block footer %} #}
    <div class="ui inverted vertical segment footer center aligned"> <div class="ui horizontal inverted small divided link list">
        made with
        <i class="heartbeat red icon"></i>
        by
        <a href="https://aldo-f.github.io" target="_blank">aldo</a>
        {# <a class="item" href="#">Site Map</a><a class="item" href="#">Contact Us</a><a class="item" href="#">Terms and Conditions</a><a class="item" href="#">Privacy Policy</a> #}
    </div>
</div>
{# {% endblock %} #}
