{# {% extends 'base.html.twig' %} #}

{% block navbar %}

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a
                class="header item" href="/">
                {# <img class="logo" src="assets/images/logo.png"> #}
                MoeRent
            </a>
            <a class="item" href="/">Home</a>
            <div class="ui simple dropdown item">
                Films
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/">Overzicht</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="divider"></div>
                        <a class="item" href="/film/new">Nieuw</a>
                    {% endif %}
                </div>
            </div>
            <div class="ui simple dropdown item">
                Exemplaren
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/exemplaar">Overzicht</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="divider"></div>
                        {# <div class="header">Header Item</div> #}
                        {# <div class="item"><i class="dropdown icon"></i>Sub Menu<div class="menu"><a class="item" href="#">Link Item</a><a class="item" href="#">Link Item</a></div></div> #}
                        <a class="item" href="/exemplaar/new">Nieuw</a>
                    {% endif %}
                </div>
            </div>

            <div class="right menu">
                <div
                    class="right item">
                    {# {% include '/parts/search.html.twig' %} #}
                    {{render(controller('App\\Controller\\SearchController::searchBar'))}}
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="ui simple dropdown item">
                        {{ app.user.voornaam }}'s account
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/gebruiker">Account</a>
                            <a class="ui item" href="/logout">
                                {% if "ROLE_ADMIN" in app.user.roles %}
                                    Admin logout
                                {% else %}
                                    Logout
                                {% endif %}
                            </a>
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <div class="divider"></div>
                                <div class="header">Admin menu</div>
                                <a class="item" href="/gebruiker/lijst">Gebruikerslijst</a>
                                {# <div class="item"><i class="dropdown icon"></i>Sub Menu<div class="menu"><a class="item" href="#">Link Item</a><a class="item" href="#">Link Item</a></div></div> #}
                            {% endif %}

                        </div>
                    </div>

                {% else %}
                    <a class="ui item" href="/register">
                        Registreer
                    </a>
                    <a class="ui item" href="/login">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
