<form id="delete_form{{exemplaar.id}}" method="post" action="{{ path('exemplaar_delete', {'id': exemplaar.id}) }}" onsubmit="return confirm('Ben je zeker dat je dit item wilt verwijderen?');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exemplaar.id) }}">
    <a class="pointer" onclick="document.getElementById('delete_form{{exemplaar.id}}').submit()">Verwijder</a>
</form>
