{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form,  {'attr': {'class': 'form ui error'} }) }}

{% if not form.vars.valid %}
    {% set error = true %}
    <div class="ui message error">
        {{ form_errors(form) }}
        {# {{ form_errors(form.id) }} #}
        {{ form_errors(form.nummer) }}
        {% if form.aanwezig is defined %}
            {{ form_errors(form.aanwezig) }}
        {% endif %}
        {% if form.gebruiker is defined %}
            {{ form_errors(form.gebruiker) }}
        {% endif %}
    </div>
{% endif %}

<div class="two fields">
    <div class="field ">
        {{ form_label(form.nummer)}}
        {{ form_widget(form.nummer, {'attr': {'placeholder': '1'}}) }}
    </div>
    <div class="field ">
        {% if form.aanwezig is defined %}
            <label for="exemplaar_aanwezig">Status</label>
            {{ form_widget(form.aanwezig, {'attr': {'placeholder': 'Ja'}}) }}
        {% endif %}

    </div>
</div>
{# TODO: mooier maken #}
<div class="two fields">
    <div
        class="field ">
        {# {{ form_label(form.idFilm)}} #}

        <label for="exemplaar_idFilm">Film</label>
        <div class="ui selection ">
            {{ form_widget(form.idFilm, {'attr' : {'class': 'menu transition' }}) }}
        </div>
    </div>
    <div class="field ">
        {% if form.gebruiker is defined %}
            <label for="exemplaar_gebruiker">Gebruiker</label>
            {{ form_widget(form.gebruiker, {'attr': {'placeholder': 'tt0071562'}}) }}
        {% endif %}
        <div class="ui selection "></div>
    </div>
</div>

<button class="ui button primary left floated">
    {{ button_label|default('Save') }}
</button>


{{ form_end(form) }}
