{% extends 'base.html.twig' %}

{% block title %}Edit Exemplaar
{% endblock %}

{% block body %}
    <h1>Exemplaar aanpassen</h1>

    {{ include('exemplaar/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('exemplaar/_delete_form.html.twig') }}

    <a href="{{ path('exemplaar_index') }}">Terug naar exemplaaroverzicht</a>
{% endblock %}
