{% extends 'base.html.twig' %}

{% block title %}Exemplaaroverzicht
{% endblock %}

{% block body %}
    {% if titel is defined %}
        <h1>{{ titel}}</h1>
    {% else %}
        <h1>Exemplaaroverzicht</h1>
    {% endif %}


    <table class="ui celled striped table">
        <thead>
            <tr>
                {# <th class="">Id</th> #}
                <th>Nummer</th>
                <th>Status</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="collapsing three">Acties</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for exemplaar in exemplaars %}
                <tr>
                    {# <td>{{ exemplaar.id }}</td> #}
                    <td>
                        <a href="{{ path('exemplaar_show', {'id': exemplaar.id}) }}">{{ exemplaar.nummer }}</a>
                    </td>
                    <td>
                        {% if  exemplaar.aanwezig > 0 %}
                            Aanwezig
                        {% elseif exemplaar.aanwezig == 0 %}
                            Uitgeleend
                        {% else %}
                            Onbekend
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('exemplaar_edit', {'id': exemplaar.id}) }}">Bewerk</a>
                            {{ include('exemplaar/_delete_form_link.html.twig') }}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Geen exemplaren gevonden</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('exemplaar_new') }}">Nieuw exemplaar</a>
    {% endif %}

    {# {{ dump()}} #}
{% endblock %}
