{% extends 'base.html.twig' %}

{% block title %}Nieuw exemplaar
{% endblock %}

{% block body %}
    <h1>Maak nieuw exemplaar</h1>

    {{ include('exemplaar/_form.html.twig') }}
    <a class="clear" href="{{ path('exemplaar_index') }}">Terug naar exemplaaroverzicht</a>
{% endblock %}
