{% extends 'base.html.twig' %}

{% block title %}Exemplaar
{% endblock %}

{% block body %}

    <h1>Exemplaar</h1>

    <table class="table ">
        <tbody>
            <tr>
                <th class="mijn left">Id</th>
                <td>{{exemplaar.id}}</td>
            </tr>
            <tr>
                <th class="mijn left">Nummer</th>
                <td>{{exemplaar.nummer}}</td>
            </tr>
            <tr>
                <th class="mijn left">Status</th>
                <td>
                    {% if  exemplaar.aanwezig > 0 %}
                        Aanwezig
                    {% elseif exemplaar.aanwezig == 0 %}
                        Uitgeleend
                    {% else %}
                        Onbekend
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="mijn left">Film</th>
                <td>
                    <a href="{{path('film_show',{'id':exemplaar.idFilm.id})}}">Bekijk</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="ui left floated " href="{{path('exemplaar_edit',{'id':exemplaar.id})}}">
                <button class="ui left floated  button">Bewerk</button>
            </a>
            {{ include('exemplaar/_delete_form.html.twig') }}
        {% endif %}
        <a href="{{ path('exemplaar_index') }}">Terug naar exemplaaroverzicht</a>
    </div>
    {# {{ dump()}} #}
{% endblock %}
